In [41]:
#Import libraries 
import pandas as pd
import numpy as np

In [ ]:
# load an Excel file as shown below

url = '/content/cells_geo_description.xlsx'

# Then load the first sheet of the Excel file into a data frame and , view the first ten rows
df = pd.read_excel(url, sheet_name=0, header=1)


df.head(10)

In [ ]:
# load an Excel file as shown below

url = '/content/CDR_description.xlsx'

df = pd.read_excel(url, sheet_name=0, header=1)

# view the first ten rows
df.head(10)

In [ ]:
import pandas as pd 
data = pd.read_csv("/content/cells_geo.csv") 
# Preview the first 5 lines of the loaded data 
data.head(5)

In [ ]:
import pandas as pd 
data = pd.read_csv("/content/Telcom_dataset.csv") 
# Preview the first 5 lines of the loaded data 
data.head(5)

In [ ]:
# Read data from file 'filename.csv' ) 
data = pd.read_csv("/content/Telcom_dataset2.csv") 
# Preview the first 5 lines of the loaded data 
data.head(5)

In [ ]:
import pandas as pd 

# Merge the 3 datasets from telecom 

data = pd.read_csv("/content/Telcom_dataset.csv") 
# Preview the first 5 lines of the loaded data 
data


# Read data from file 'filename.csv' ) 
data1 = pd.read_csv("/content/Telcom_dataset2.csv") 
# Preview the first 5 lines of the loaded data 
data1

# Read data from file 'filename.csv' 
data2 = pd.read_csv("/content/Telcom_dataset3.csv") 
# Preview the first 5 lines of the loaded data 
data2

df = pd.concat([data, data1,data2]) #merge
df=df.reset_index(drop=True)
df.head(5)

In [143]:
#Concatinate the 3 combined sets with the call geo dataset 

df1 = pd.concat([df0, df])# Merge the 4 datasets
df1.head(3)

   Unnamed: 0  VILLES      STATUS  ... DATE_TIME DW_A_NUMBER DW_B_NUMBER
0         0.0  ADJAME  In Service  ...       NaN         NaN         NaN
1         1.0  ADJAME  In Service  ...       NaN         NaN         NaN
2         2.0  ADJAME  In Service  ...       NaN         NaN         NaN

[3 rows x 25 columns]

In [ ]:
#Which ones were the most used city for the three days?

f = lambda x: np.nan if x.isnull().all() else x.value_counts().index[0]
df2 = df1.groupby('VILLES')['DECOUPZONE'].apply(lambda x: x.value_counts().index[0]).reset_index()
df2.head(10)

In [124]:
#Most used city for the three days?

df2['VILLES'].value_counts().idxmax()
n=5
df2['VILLES'].value_counts()[:n].index.tolist()

['NGUINOU', 'TOUIH', 'TOUBA', 'BLANFLA', 'OURAGAHIO']

In [134]:
#Most used product from the 3 given data sets combined 
df['PRODUCT'].value_counts().idxmax()
n=3
df['PRODUCT'].value_counts()[:n].index.tolist()

['sms', 'Voice', 'data']